body{
    margin: 0;
}

.contenedor-flexible{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contenedor-dos{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.uno{
    background-color: red;
    width: 50vw;
    flex-basis: 100vh;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url('img01.png');
    background-size: cover;
}
.dos{
    background-color: blue;
    width: 50vw;
    flex-basis: 50vh;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url('img02.jpg');
    background-size: cover;
}
.tres{
    background-color: green;
    width: 50vw;
    flex-basis: 50vh;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url('img03.jpg');
    background-size: cover;
}